/src/__pycache__
/src/utils/__pycache__
/data/cifar-10-batches-py
*.gz
/src/models/__pycache__
/src/data/__pycache__
/output
config_dump.yaml
config_dump.yaml
/src/tasks/__pycache__
/src/tests/__pycache__
